@mixin sp {
  @media screen and (max-width: 600px) {
    @content;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
img {
  @include sp {
    width: 240px;
  }
}
