<mat-toolbar color="primary" class="header">
  <a class="header__logo" routerLink="/">Work Out</a>
  <button class="header__icon" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      <span>My page</span>
    </a>
    <button routerLink="/settings" mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="authService.logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item routerLink="/privacy">
      <mat-icon>privacy_tip</mat-icon>
      <span>Privacy Policy</span>
    </button>
    <button mat-menu-item routerLink="/terms">
      <mat-icon>assignment</mat-icon>
      <span>Terms and Conditions</span>
    </button>
  </mat-menu>
</mat-toolbar>
