<div class="wrapper">
  <div class="terms">
    <h1>Terms of service</h1>
    <p>
      These Terms of Use (hereinafter referred to as "Terms of Use") are the
      services provided by Work Out (hereinafter referred to as "Company") on
      this website (hereinafter referred to as "Services"). ) Terms of use.
      Registered users (hereinafter referred to as "users") are required to use
      this service in accordance with this agreement.
    </p>

    <h2>Article 1 (Applicable)</h2>
    <ol>
      <li>
        This agreement shall apply to all relationships related to the use of
        this service between the user and our company.
      </li>
      <li>
        Regarding this service, in addition to this agreement, we may make
        various provisions (hereinafter referred to as "individual provisions")
        such as rules for use. These individual provisions shall form part of
        this agreement regardless of their name.
      </li>
      <li>
        If the provisions of this agreement contradict the provisions of the
        individual provisions of the preceding article, the provisions of the
        individual provisions shall prevail unless otherwise specified in the
        individual provisions.
      </li>
    </ol>

    <h2>Article 2 (Registration)</h2>
    <ol>
      <li>
        In this service, the registration applicant agrees to this agreement,
        applies for usage registration by the method specified by the Company,
        and the Company notifies the registration applicant of this approval,
        and the usage registration is completed.
      </li>
      <li>
        The Company may not approve the application for use registration if it
        determines that the applicant for use registration has the following
        reasons, and shall not be obliged to disclose the reason.
      </li>
      <ol>
        <li>
          When false matters are reported when applying for usage registration
        </li>
        <li>
          When the application is from a person who has violated this agreement
        </li>
        <li>
          In addition, when we judge that the usage registration is not
          appropriate
        </li>
      </ol>
    </ol>

    <h2>Article 3 (Management of user ID and password)</h2>
    <ol>
      <li>
        user shall manage the user ID and password of this service appropriately
        at his / her own risk.
      </li>
      <li>
        Under no circumstances may the user transfer or lend the user ID and
        password to or share it with a third party. If the combination of user
        ID and password matches the registered information and you are logged
        in, we will consider it to be used by the user who has registered that
        user ID.
      </li>
      <li>
        Company shall not be liable for any damages caused by the use of the
        user ID and password by a third party, unless the Company has
        intentional or gross negligence.
      </li>
    </ol>

    <h2>Article 4 (Usage fee and payment method)</h2>
    <ol>
      <li>
        user shall pay the usage fee displayed on this website separately by the
        Company as a consideration for the paid part of this service by the
        method specified by the Company.
      </li>
      <li>
        If the user delays the payment of the usage fee, the user shall pay the
        late damages at a rate of 14.6% per year.
      </li>
    </ol>

    Article 5 (Prohibited matters)
    <p>The user must not do the following when using this service.</p>
    <ol>
      <li>Acts that violate laws or public order and morals</li>
      <li>Acts related to criminal acts</li>
      <li>
        Acts that destroy or interfere with the functions of our company, other
        users of this service, or the server or network of a third party
      </li>
      <li>Actions that may interfere with the operation of our services</li>
      <li>
        Acts of collecting or accumulating personal information about other
        users
      </li>
      <li>Unauthorized access or attempting this</li>
      <li>Acts of impersonating another user</li>
      <li>
        Acts that directly or indirectly benefit antisocial forces in connection
        with our services
      </li>
      <li>
        Acts that infringe the intellectual property rights, portrait rights,
        privacy, honor or other rights or interests of our company, other users
        of this service or third parties
      </li>
      <li>
        Acts of posting or transmitting on this service the content that
        includes or is judged to include the following expressions
      </li>
      <ol>
        <li>Overly violent expression</li>
        <li>Explicit sexual expression</li>
        <li>
          Expressions that lead to discrimination based on race, nationality,
          beliefs, gender, social status, family origin, etc.
        </li>
        <li>
          Expressions that induce or encourage suicide, self-harm, or substance
          abuse
        </li>
        <li>
          Expressions that make others uncomfortable, including other antisocial
          content
        </li>
      </ol>
      <li>
        Actions that the Company determines to have or are intended for the
        following:
      </li>
      <ol>
        <li>
          Sales, advertising, advertising, solicitation, and other acts for the
          purpose of profit (excluding those approved by the Company)
        </li>
        <li>Acts aimed at sexual or obscene acts</li>
        <li>Acts aimed at meeting or dating an unfamiliar opposite sex</li>
        <li>Acts aimed at harassing or slandering other users</li>
        <li>
          Acts aimed at causing disadvantage, damage or discomfort to our
          company, other users of this service, or third parties
        </li>
        <li>
          Other acts of using this service for a purpose different from the
          intended purpose of use of this service
        </li>
      </ol>
      <li>Religious activities or solicitations to religious groups</li>
      <li>Other acts that the Company deems inappropriate</li>
    </ol>

    <h2>Article 6 (suspension of provision of this service, etc.)</h2>
    <ol>
      <li>
        The Company shall be able to suspend or suspend the provision of all or
        part of this service without notifying the user in advance if it is
        determined that there is any of the following reasons.
      </li>
      <li>
        When performing maintenance, inspection or updating of the computer
        system related to this service
      </li>
      <li>
        When it becomes difficult to provide this service due to force majeure
        such as an earthquake, lightning strike, fire, power outage or natural
        disaster
      </li>
      <li>When the computer or communication line stops due to an accident</li>
      <li>
        In addition, when we judge that it is difficult to provide this service
      </li>
      <li>
        The Company shall not be liable for any disadvantage or damage suffered
        by the user or a third party due to the suspension or interruption of
        the provision of this service.
      </li>
    </ol>

    <h2>Article 7 (copyright)</h2>
    <ol>
      <li>
        The user shall use this service to post or upload only information such
        as texts, images and videos that he / she owns the necessary
        intellectual property rights such as copyrights or has obtained the
        permission of the necessary right holder. Suppose you can.
      </li>
      <li>
        The copyright of texts, images, videos, etc. posted or uploaded by the
        user using this service shall be reserved by the user or other existing
        right holders. However, we will improve the text, images, videos, etc.
        posted or uploaded using this service to the extent necessary for
        improving this service, improving quality, correcting deficiencies,
        etc., and publicizing this service. It shall be available, and the user
        shall not exercise the moral rights of the author with respect to this
        use.
      </li>
      <li>
        Except as provided in the main text of the preceding paragraph, all
        copyrights and other intellectual property rights regarding this service
        and all information related to this service belong to the Company or the
        right holder who has licensed the use to the Company, and the user has
        no permission. You may not copy, transfer, lend, translate, modify,
        reprint, publicly transmit (including enabling transmission), transmit,
        distribute, publish, or use for business purposes.
      </li>
    </ol>

    <h2>Article 8 (Usage restrictions and deregistration)</h2>
    <ol>
      <li>
        If the user falls under any of the following, we will delete the posted
        data without prior notice, restrict the use of all or part of this
        service to the user, or cancel the registration as a user. Suppose you
        can.
      </li>
      <ol>
        <li>If you violate any provision of this agreement</li>
        <li>
          When it turns out that there is a false fact in the registered items
        </li>
        <li>
          When the credit card notified by the user as a payment method is
          suspended
        </li>
        <li>When there is a default of payment obligations such as fees</li>
        <li>
          When there is no response to the contact from our company for a
          certain period of time
        </li>
        <li>
          When this service has not been used for a certain period of time since
          the last use
        </li>
        <li>
          In addition, when we judge that the use of this service is not
          appropriate
        </li>
      </ol>
      <li>
        If any of the items in the preceding paragraph applies, the user will
        naturally lose the profit of the deadline for all debts to the Company
        and must immediately repay all the debts borne at that time in a lump
        sum.
      </li>
      <li>
        The Company shall not be liable for any damage caused to the user due to
        the actions taken by the Company based on this article.
      </li>
    </ol>

    <h2>Article 9 (withdrawal)</h2>
    <p>
      The user shall be able to withdraw from this service by the withdrawal
      procedure specified by the Company.
    </p>

    <h2>Article 10 (Denial of Warranty and Disclaimer)</h2>
    <ol>
      <li>
        We have virtually or legal defects in this service (safety, reliability,
        accuracy, integrity, effectiveness, suitability for a specific purpose,
        security defects, errors and bugs, infringement of rights, etc.)
        Includes.) We do not guarantee, either explicitly or implicitly, that
        there is no such thing.
      </li>
      <li>
        Our company does not take any responsibility for any damage caused to
        the user due to this service. However, if the contract between the
        Company and the user regarding this service (including this agreement)
        is a consumer contract stipulated in the Consumer Contract Law, this
        disclaimer does not apply.
      </li>
      <li>
        Even in the case prescribed in the proviso of the preceding paragraph,
        the Company shall suffer damages caused by special circumstances among
        the damages caused to the user due to default or illegal acts due to the
        Company's negligence (excluding gross negligence) (the Company or the
        user). We do not take any responsibility for foreseeing or foreseeing
        the occurrence of damage. In addition, compensation for damages caused
        to the user due to default or illegal acts due to our negligence
        (excluding gross negligence) shall be limited to the amount of usage fee
        received from the user in the month in which the damage occurred.
      </li>
      <li>
        The Company is not responsible for any transactions, communications or
        disputes that occur between the user and other users or third parties
        regarding this service.
      </li>
    </ol>

    <h2>Article 11 (Changes in service content, etc.)</h2>
    <p>
      The Company shall be able to change the contents of this service or
      discontinue the provision of this service without notifying the user, and
      shall not be liable for any damage caused to the user by this.
    </p>

    <h2>Article 12 (Change of Terms of Service)</h2>
    <p>
      The Company shall be able to change this agreement at any time without
      notifying the user if it deems it necessary. If you start using this
      service after changing this agreement, the user will be deemed to have
      agreed to the changed agreement.
    </p>

    <h2>Article 13 (Handling of personal information)</h2>
    <p>
      We will handle personal information acquired by using this service
      appropriately in accordance with our "Privacy Policy".
    </p>

    <h2>Article 14 (Notification or Contact)</h2>
    <p>
      Notification or communication between the user and the Company shall be
      made by the method specified by the Company. The Company considers that
      the currently registered contact is valid and notifies or contacts the
      contact unless the user notifies the change according to the method
      specified separately by the user, and these are notified or contacted by
      the user at the time of transmission. It is considered that you have
      reached.
    </p>

    <h2>Article 15 (Prohibition of transfer of rights and obligations)</h2>
    <p>
      The user may not assign the status under the usage contract or the rights
      or obligations based on this agreement to a third party or provide it as
      collateral without the prior written consent of the Company.
    </p>

    <h2>Article 16 (Governing law / jurisdiction)</h2>
    <ol>
      <li>
        Japanese law shall be the governing law in interpreting this agreement.
      </li>
      <li>
        In the event of a dispute regarding this service, the court having
        jurisdiction over the location of our head office shall have exclusive
        agreement jurisdiction.
      </li>
    </ol>
    <p class="last">that's all</p>
  </div>
</div>
