<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <span class="header-logo">Work Out</span>
    <span>
      <button
        mat-raised-button
        routerLink="/create"
        class="header-button"
        color="primary"
      >
        Don't have an account
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="login-form">
  <h1>Login</h1>

  <div class="account">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          id="email"
          placeholder="WorkOut123@example.com"
          autocomplete="email"
          required
        />
        <mat-error *ngIf="emailControl.hasError('required')"
          >You must enter a value</mat-error
        >
        <mat-error *ngIf="emailControl.hasError('email')"
          >Not a valid email</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>password</mat-label>
        <mat-hint>8+ characters</mat-hint>
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          placeholder="password"
          id="password"
          formControlName="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl.hasError('required')"
          >You must enter a value</mat-error
        >
        <mat-error *ngIf="passwordControl.hasError('minlength')"
          >Password is short</mat-error
        >
      </mat-form-field>

      <a mat-raised-button color="primary" (click)="login()" routerLink="/home">
        Login
      </a>

      <h2>SNS acount</h2>
      <a class="google" mat-raised-button color="primary" (click)="signInWithGoogle()">
        Google
      </a>

      <button (click)="signInWithFacebook()" class="facebook" mat-raised-button>
        <mat-icon class="sns-icon fab fa-facebook-f"></mat-icon
        >Facebookでログイン
      </button>
    </form>
  </div>
</div>
