@mixin sp {
  @media screen and (max-width: 600px) {
    @content;
  }
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  &__logo {
    text-decoration: none;
    color: white;
  }
  &__icon {
    margin: 0 0 0 auto;
  }
  @include sp {
    height: 64px;
  }
}

.container {
  z-index: 900;
  padding-top: 64px;
  margin: 0 195.5px 0 195.5px;
  @media screen and (max-width: 1100px) {
    margin: 0 180px 0 180px;
  }
  @media screen and (max-width: 950px) {
    margin: 0 140px 0 140px;
  }
  @media screen and (max-width: 7350px) {
    margin: 0;
  }
}

.profile {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  position: relative;
  &__header {
    margin: 16px 16px 48px;
    display: flex;
  }
  &__avatars {
    margin-right: 28px;
    @media screen and (max-width: 735px) {
      height: 77px;
    }
  }
  &__avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    @media screen and (max-width: 735px) {
      width: 77px;
      height: 77px;
    }
  }
  &__edit {
    width: 100%;
  }
  &__headers {
    flex: 1;
  }
  &__sent {
    @media screen and (max-width: 735px) {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -54vw;
    }
    @media screen and (max-width: 600px) {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -55vw;
    }
    @media screen and (max-width: 450px) {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -56vw;
    }
    @media screen and (max-width: 430px) {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -61vw;
    }
    @media screen and (width: 414px) {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -59vw;
    }
    @media screen and (width: 375px) {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -60vw;
    }
  }
  &__sent p {
    font-size: 18px;
  }
  &__name {
    margin-bottom: 12px;
    text-align: center;
    font-size: 28px;
    @media screen and (max-width: 735px) {
      margin-top: 0;
    }
  }
  &__contents {
    margin: 0;
  }
  &__contents ul {
    list-style: none;
    margin: 0;
  }
  &__top {
    display: flex;
    justify-content: space-around;
    padding: 0;
    text-align: center;
  }
  &__top {
    .text {
      font-weight: bold;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 12px 0;
  }
  &__bottom li {
    width: 35%;
    display: inline-block;
    height: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
  &__bottom li:last-child {
    border: none;
  }
  &__bottom li p {
    display: block;
  }
}

.text {
  color: rgba(0, 0, 0, 0.4);
  margin: 5px;
  font-weight: bold;
}

.number {
  margin: 5px;
}

.post {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 16px;
  &__content {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  &__comments {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  &__like {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  &__open {
    @media screen and (min-width: 700px) {
      display: none;
    }
  }
}

mat-tab-group {
  position: relative;
  z-index: 1500;
}

mat-item-list {
  position: absolute;
  z-index: 1;
}
