<div class="wrapper">
  <mat-toolbar color="primary" class="header">
    <a class="header__logo" routerLink="/">Work Out</a>
    <button
      class="header__icon"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item *ngIf="user$ | async" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
      <button mat-menu-item>
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="container">
    <div class="profile">
      <div class="profile__header">
        <div class="profile__avatars">
          <img
            src="/assets/images/training.jpg"
            alt=""
            class="profile__avatar"
          />
        </div>
        <div class="profile__headers">
          <h1 class="profile__name">Jhon Smith</h1>
          <button class="profile__edit" mat-stroked-button color="black">
            Edit profile
          </button>
          <div class="profile__sent">
            <p>yaaaaaasyaaaaaas</p>
            <p>yaaaaaasyaaaaaas</p>
          </div>
        </div>
      </div>

      <div class="profile__contents">
        <ul class="profile__top">
          <li>
            <p class="text">Height</p>
            <p>5'6.93"</p>
          </li>
          <li>
            <p class="text">Weight</p>
            <p>149.91lb</p>
          </li>
          <li>
            <p class="text">Gender</p>
            <p>male</p>
          </li>
        </ul>

        <ul class="profile__bottom">
          <li>
            <p class="text">Posts</p>
            <p class="number">6</p>
          </li>
          <li>
            <p class="text">Followers</p>
            <p class="number">0</p>
          </li>
          <li>
            <p class="text">Following</p>
            <p class="number">0</p>
          </li>
        </ul>
      </div>
    </div>

    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>grid_on</mat-icon>
        </ng-template>
        <div class="post">
          <mat-card class="post__card">
            <img
              class="post__img"
              mat-card-image
              src="/assets/images/training.jpg"
              alt=""
            />
            <mat-card-content class="post__content">
              <button class="post__comments" mat-icon-button>
                <mat-icon>comments</mat-icon>
              </button>
              <button class="post__like" mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button class="post__open" mat-icon-button>
                <mat-icon>open_in_new</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
          <mat-card class="post__card">
            <img mat-card-image src="/assets/images/training.jpg" alt="" />
            <mat-card-content class="post__content">
              <button class="post__comments" mat-icon-button>
                <mat-icon>comments</mat-icon>
              </button>
              <button class="post__like" mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button class="post__open" mat-icon-button>
                <mat-icon>open_in_new</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
          <mat-card class="post__card">
            <img mat-card-image src="/assets/images/training.jpg" alt="" />
            <mat-card-content class="post__content">
              <button class="post__comments" mat-icon-button>
                <mat-icon>comments</mat-icon>
              </button>
              <button class="post__like" mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button class="post__open" mat-icon-button>
                <mat-icon>open_in_new</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
          <mat-card class="post__card">
            <img mat-card-image src="/assets/images/training.jpg" alt="" />
            <mat-card-content class="post__content">
              <button class="post__comments" mat-icon-button>
                <mat-icon>comments</mat-icon>
              </button>
              <button class="post__like" mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button class="post__open" mat-icon-button>
                <mat-icon>open_in_new</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
          <mat-card class="post__card">
            <img mat-card-image src="/assets/images/training.jpg" alt="" />
            <mat-card-content class="post__content">
              <button class="post__comments" mat-icon-button>
                <mat-icon>comments</mat-icon>
              </button>
              <button class="post__like" mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button class="post__open" mat-icon-button>
                <mat-icon>open_in_new</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
          <mat-card class="post__card">
            <img mat-card-image src="/assets/images/training.jpg" alt="" />
            <mat-card-content class="post__content">
              <button class="post__comments" mat-icon-button>
                <mat-icon>comments</mat-icon>
              </button>
              <button class="post__like" mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button class="post__open" mat-icon-button>
                <mat-icon>open_in_new</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>favorite_border</mat-icon>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
