<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <span class="header-logo">Work Out</span>
    <span>
      <button
        mat-raised-button
        routerLink="/login"
        class="header-button"
        color="primary"
      >
        Login
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="create">
  <h1>Create New Acount</h1>
  <p>Profile</p>

  <!-- 親のformに作ったformの名前を入れる -->
  <!-- (ngSubmit)で送信されたときどういったメソッドを起こすか -->
  <div class="profile">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- mat-form-fieldの中身は名前を入力する欄を意味している -->
      <mat-form-field>
        <mat-label>user name</mat-label>
        <!-- htmlにもrequiredで必須入力と定義する。placeholderで例文を表示させる -->
        <input
          formControlName="name"
          id="userName"
          matInput
          autofocus
          placeholder="John Smith"
          type="text"
          autocomplete="off"
          required
        />
        <mat-error *ngIf="nameControl.hasError('required')"
          >You must enter a value</mat-error
        >
        <mat-error *ngIf="nameControl.hasError('maxlength')"
          >Text string is too long</mat-error
        >
      </mat-form-field>
      <br />

      <!-- 性別 -->
      <mat-form-field formControlName="gender">
        <mat-label>select an gender</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <!-- Email -->
      <mat-form-field>
        <mat-label>email</mat-label>
        <input
          formControlName="email"
          id="email"
          matInput
          placeholder="WorkOut123@example.com"
          type="email"
          autocomplete="email"
          required
        />

        <mat-error></mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">
        Next
      </button>
    </form>
  </div>
</div>
