<div class="wrapper">
  <div class="container">
    <div class="user">
      <div class="user__header">
        <div class="user__avatar">
          <img
            class="user__avatars"
            src="/assets/images/training-1.jpg"
            alt=""
          />
          <button mat-mini-fab>
            <mat-icon>camera_alt</mat-icon>
          </button>
        </div>
      </div>
      <div class="user__container">
        <div class="user__editname">
          <p>User Name</p>

          <mat-form-field class="user__forms" type="text" appearance="outline">
            <mat-label>User Name</mat-label>

            <input matInput placeholder="Jhon Smith" />
          </mat-form-field>
        </div>
        <div class="user__editsents">
          <p>Introdacution</p>
          <mat-form-field
            class="card__editsent"
            type="text"
            appearance="outline"
          >
            <mat-label>Introduction</mat-label>
            <textarea
              class="card__input"
              placeholder="Work Out"
              autocomplete="off"
              matInput
            ></textarea>
          </mat-form-field>
        </div>
        <div class="user__editgender">
          <p>Gender</p>

          <mat-form-field appearance="outline">
            <mat-label>select an gender</mat-label>
            <mat-select matInput id="gender">
              <mat-option>None</mat-option>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="user__editheight">
          <p>Height</p>

          <mat-form-field class="user__forms" appearance="outline">
            <mat-label>Change your Height</mat-label>
            <input matInput type="number" placeholder="5" />
            <span matSuffix>'</span>
          </mat-form-field>

          <mat-form-field class="user__forms" appearance="outline">
            <input matInput type="number" placeholder="6.93" />
            <span matSuffix>"</span>
          </mat-form-field>
        </div>
        <div class="user__editweight">
          <p>Weight</p>

          <mat-form-field class="user__forms" appearance="outline">
            <mat-label>Change your Weight</mat-label>
            <input matInput type="number" placeholder="149" />
            <span matSuffix>.</span>
          </mat-form-field>
          <mat-form-field class="user__forms" appearance="outline">
            <input matInput type="number" placeholder="91" />
            <span matSuffix>lb</span>
          </mat-form-field>
        </div>
      </div>
      <div class="user__action">
        <button class="user__cancel" mat-stroked-button>Cancel</button>
        <button class="user__save" mat-raised-button color="primary">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
